/* section#1 styles */
.section-bg {
    background-image: url(../images/bg.jpg);
    width: 100%;
    /* height: 612px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 96px;
    padding-bottom: 91px;
}
.title1 {
    font-size: 14px;
    color: #5863F8;
}
.title2 {
    font-size: 42px;
    color: #fff;
    max-width: 376px;
}
.container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.block1 {
    width:260px;
    height: 260px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-wraper {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    flex-wrap: wrap;
}
.icon {
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1 p {
    width: 221px;
    text-align: center;
}
.block1 h2 {
    margin-top: 15px;
    margin-bottom: 22px;
}


/* form */
.section-form {
    padding-bottom: 80px;
}
.flex-form {
    display: flex;
    flex-direction: column;
}
.input-wraper {
    max-width: 700px;
    width: 100%;
    height: 45px;
    color: red;
    font-size: 16px;
    background-color: lightblue;
    border-radius: 30px;
}
.input-wraper::placeholder,
.textarea-wraper::placeholder  {
    color: blue;
    font-size: 14px;
}

.input-wraper:focus {
    outline: none;
}
.textarea-wraper:focus {
    outline: none;
}
.textarea-wraper {
    resize: none;
    max-width: 700px;
    width: 100%;
    height: 200px;
    color: yellow;
    font-size: 16px;
}
.btn-send {
    max-width: 200px;
    width: 100%;
    height: 45px;
    background-color: orange;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
}